@model LibraryManagement.ViewModel.BookViewModel

@{
    ViewData["Title"] = "DetailsBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book Details</h1>
<hr />
<div class="form-group">
    <a asp-action="EditBook" asp-route-id="@Model.BookId" class="btn btn-primary">Edit</a>
    <a asp-action="ListBook" class="btn btn-primary">Back to List</a>
</div>
<br/>
<div class="form-group row">
    <div class="col-lg-10 mg-at row">
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.BookTitle)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.BookTitle)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.CategoryName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.CategoryName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.AuthorName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.AuthorName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.Copies)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.Copies)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.BookPublication)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.BookPublication)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.PublisherName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.PublisherName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.ISBNNo)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.ISBNNo)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.CopyRightYear)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.CopyRightYear)
        </div>
    </div>
</div>


