@model LibraryManagement.ViewModel.StudentViewModel

@{
    ViewData["Title"] = "DetailsStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Student Detail</h1>

<hr />
<div class="form-group">
    <a asp-action="EditStudent" asp-route-id="@Model.studentId" class="btn btn-primary">Edit</a>
    <a asp-action="ListStudent" class="btn btn-primary">Back to List</a>
</div>
<br/>
<div class="form-group row">
    <div class="col-lg-10 mg-at row">
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.studentName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.studentName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.RollNo)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.RollNo)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.FatherName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.FatherName)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.Class)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.Class)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayFor(model => model.Address)
        </div>
        <div class="col-lg-5 div-border ">
            @Html.DisplayNameFor(model => model.ProfileImagePath)
        </div>
        <div class="col-lg-5 div-border ">
            <img src="~/images/@Model.ProfileImagePath" width="50px" height="50px" />
        </div>
    </div>
</div>


